
/* .App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
} */

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* @font-face {
  font-family: 'CustomFont';
  src: url('./fonts/style.css') format('woff2'),
       url('./fonts/style.css') format('woff');
  font-weight: normal;
  font-style: normal;
} */


/* @font-face {
  font-family: 'Maglony free version Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Maglony free version Regular'), url('MaglonyFreeVersionRegular-X3PYj.woff') format('woff');
  } */
